body {
  font-family: "Manrope", sans-serif;
}

h1,
h2 {
  text-align: center;
}

h1 {
  margin-top: 48px;
  font-size: 60px;
  margin-bottom: 0;
  color: #ea2c62;
}

h1 i {
  color: #ea2c62;
}

h2 {
  font-size: 20px;
  color: #738598;
}

form {
  padding-top: 10px;
  padding-bottom: 10px;
}

form .fa-search {
  position: relative;
  opacity: 50%;
  border-radius: 50px;
}

form .input-group {
  border-radius: 600px;
}

input {
  background-color: #e7f0fd;
  border-radius: 4px;
  opacity: 60%;
}

footer {
  padding-top: 10px;
  color: #738598;
  text-align: center;
  padding-bottom: 10px;
  font-family: "Manrope", sans-serif;
}

footer i {
  font-size: 40px;
  text-align: center;
  font-family: "Manrope", sans-serif;
}

li {
  color: #738598;
  font-size: 20px;
  font-weight: 100;
  font-family: "Manrope", sans-serif;
  height: 19px;
  line-height: 1;
  list-style: none;
  padding-top: 10px;
  text-transform: capitalize;
}

p {
  font-size: 20px;
}

small {
  text-align: center;
}

.input-group {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  position: relative;
}

.search-button {
  border-radius: 50px;
  padding: 0px;
  position: relative;
}

.button i {
  font-weight: lighter;
}

.current-location-button i {
  font-weight: lighter;
}

.weather-app {
  background-image: linear-gradient(to top, #ebbba7 0%, #cfc7f8 100%);
  border: 1.5px solid #68383e;
  border-radius: 9px;
  box-shadow: 6px 6px 3px 3px #68383e;
  margin: 0 87px;
  max-width: 700px;
}

.weather-app-wrapper {
  max-width: 850px;
  margin: 30px auto;
  text-align: center;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast h3 {
  color: #738598;
  font-size: 14px;
  font-weight: 400;
  height: 15px;
  line-height: 15px;
  padding-top: 5px;
  text-align: center;
}

.weather-forecast img {
  display: block;
  height: 48px;
  margin: 0 auto;
  width: 48px;
}

.weather-forecast-temperature {
  color: #738598;
  font-size: 14px;
  font-weight: 300;
  height: auto;
  line-height: 15px;
  text-align: center;
  white-space: nowrap;
}
